allow bluetooth bluetooth_data_file:file { read open };
allow bluetooth serial_device:chr_file { read write ioctl open };
allow bluetooth wifi_data_file:file { read open };
allow bluetooth radio_device:file write;
allow bluetooth sysfs_bluetooth_writable:dir search;
allow bluetooth sysfs_bluetooth_writable:lnk_file read;
allow bluetooth sysfs:file write;
