allow mediaserver camera_data_file:file { write open };
allow mediaserver mnt_user_file:dir search;
allow mediaserver storage_file:dir search;
allow mediaserver storage_file:lnk_file read;
allow mediaserver self:socket create;
allow mediaserver socket_device:dir { add_name write };
allow mediaserver socket_device:sock_file { setattr write create };
allow mediaserver qmuxd:unix_stream_socket connectto;
allow mediaserver mnt_user_file:lnk_file read;
allow mediaserver sysfs_wake_lock:file { read write open };
