allow wpa radio_device:chr_file { open read };
allow wpa sysfs_bluetooth_writable:dir search;
allow wpa sysfs_bluetooth_writable:lnk_file { read getattr };
